body {
  padding-bottom: 30px;
}

.container {
  width: 80%;
}

.header-row {
  height: 100px;
  padding-top: 10px;
  background: #333;
  color: white;
  margin-bottom: 20px;
}

.header-row .row {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6E7FF;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 1em;
  color: #64439A;
}

.error {
  background: #ff6d6d;
  border: #ff0000 solid 2px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 1em;
  text-align:center;
  font-size: 115%;
  font-weight: bold;
  display:none;
}

#add {
  font-size:120%;
  font-weight: bold;
  padding-bottom: 5px;
}


#toggle {
  border: #ccc 1px solid;
  height: 80px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#toggle .btn{
  margin-left: 10px;
}

#search-menu {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}


#search-stream {
  padding: 10px 20px;
  text-align: center;
  border-radius: 1em 0 0 1em;
}

#search-stream:focus {
  border: none;
}

#search-btn {
  padding: 11px;
  border-radius: 0 1em 1em 0;
}

#streamsContainer {
  font-size: 120%;
}

#streamsContainer > .row {
  margin-bottom: 10px;
 display:flex;
  align-items: center;

}

#streamsContainer .col-md-4 {
  margin: 0px 15px 0 0;
}

#streamsContainer img {
  height: 100px;
  width: 100px;
}


.online {
  background-color: #B8CCA6;
}

.offline{
  background-color: #ccc !important;
}

.offline img {
  padding:7px;
}

.hidden {
  display: none;
}


/*STREAMER TILE CSS*/
.streamerTile {
  padding: 10px;
  background: #F6E7FF;
  border: 2px solid black;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streamName {
  font-size: 130%;
  color: blue;
}

.streamText{
  margin-top: 7px;
}
